*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #222743;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

section{
    min-width: 800px;
    width: 50%;
    height: 70%;
    display: flex;
    border: 1px solid #d9d9d9;
    background-color: #d9d9d9;
    border-radius: 20px;

}

h1 {
    font-size: 50px;
    margin-bottom: 10px;
    text-align: center;
}

.signup-container {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px 25px;
    margin-left: 15px;
}

.form-content{
    display: flex;
    flex-direction: column;
}

ul {
    margin: 10px 0 5px;
}

li {
    display: flex;
    align-items: center;
    font-size: 14px;
    list-style: none;
    margin-bottom: 5px;
}

li > svg {
    margin-bottom: 5px;
    margin-right: 10px;
}

label {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 2px;
}

.form-content input {
    font-size: 14px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
}

.form-content input:focus{
    border: none;
}


.form-content.error input {
    background-color: #ffb9b4;
    border: 2px solid #FF6155;
  }

.form-content a {
    font-size: 12px;
    font-weight: 700;
    margin-top: 4px;
    margin-bottom: 10px;
    visibility: hidden;
}

.form-content.error a {
    color: #d90429;
    visibility: visible;
}

button {
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    color: white;
    background-color: #222743;
    padding: 10px 20px;
    border: 1px solid  #222743;
    border-radius: 10px;
    cursor: pointer;
}

.image {
    width: 45%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0 15px;
}

.image svg {
    width: 97%;
}

#tela-agradecimento {
    display: none;
  }