*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #222743;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

section{
    width: 55%;
    height: 65%;
    display: flex;
    align-items: center;
    border: 1px solid #d9d9d9;
    background-color: #d9d9d9;
    border-radius: 20px;

}

h1 {
    font-size: 50px;
    margin-bottom: 10px;
    text-align: center;
}

.signup-container {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    margin-left: 15px;
}

.form-content{
    display: flex;
    flex-direction: column;
}

ul {
    margin: 10px 0 5px;
}

li {
    display: flex;
    align-items: center;
    font-size: 14px;
    list-style: none;
    margin-bottom: 5px;
}

li > svg {
    margin-bottom: 5px;
    margin-right: 10px;
}

label {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 2px;
}

.form-content input {
    font-size: 14px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
}

.form-content input:focus{
    border: none;
}


.form-content.error input {
    background-color: #ffb9b4;
    border: 2px solid #FF6155;
  }

.form-content a {
    font-size: 12px;
    font-weight: 700;
    margin-top: 4px;
    margin-bottom: 10px;
    visibility: hidden;
}

.form-content.error a {
    color: #d90429;
    visibility: visible;
}

button {
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    color: white;
    background-color: #222743;
    padding: 10px 20px;
    border: 1px solid  #222743;
    border-radius: 10px;
    cursor: pointer;
}

.image {
    width: 45%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    border-radius: 15px;
    overflow: hidden;
}

.image svg {
    width: 100%;
    border-radius: 20px;
}

#tela-agradecimento {
    display: none;
  }

  @media (max-width:1239px) {
    h1{
        font-size: 40px;
    }
    
  }

  @media (max-width:1080px) {
    section{
        width: 60%;
    }

    .signup-container{
        margin-left: 0;
        padding: 25px 15px;
    }

    p{
        text-align: center;
    }
    
  }

  @media (max-width:945px) {

    section{
        width: 65%;
    }

    .signup-container{
        padding: 20px 10px;
    }

    h1{
        font-size: 35px;
    }

    .form-content a{
        margin-bottom: 3px;
    }

  }

  @media (max-width:850px) {
    
    section{
        width: 90%;
        height: 40%;
    }

    .signup-container{
        padding: 20px;
    }

    h1{
        font-size: 50px;
    }

    ul{
        margin-left: 20px;
    }

    form{
        margin-left: 20px;
    }

    .image{
        margin-left: 20px;
    }

  }

  @media (max-width:500px) {
    section{
        flex-direction: column-reverse;
        width: 90%;
        height: 80%;
    }

    .signup-container{
        width: 100%;
        padding: 10px;
        margin-left: 0;
    }

    form {
        margin: 0 20px;
    }

    .image{
        width: 90%;
        margin: 10px 0;
    }

  }